// Bootstrap variables
@import "variables.scss";

// Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

$light: #F8F9FA;
$dark: #222529;

body{
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
  background-color: #180A0A;
}

section{
  color: $light;
}

a{
  text-decoration: none;
  color: $light;
}

a:hover{
  cursor: pointer;
}

.logo{
  div{
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
  }
  img{
    width: 60px;
    position: relative;
    left: -30px;
  }
}

  .nav-link{
    letter-spacing: .1rem;
  }

  .item-container{
    width: 19rem;
      .bg-image{
      min-width: 100%;
      height: 10rem;
      }
  }
    .bg-image{
      min-width: 10rem;
      background-image: url("/img/Logo.jpg");
      background-size: contain;
      @include bg-img;
    .separator-x{
      border-top: 3px dotted;
    }
    .separator-y{
      border-right: 3px dotted;
    }
    button{
      position: relative;
      top: 2rem;
      left: 12%;
    }
  }

  #avatarImg{
    height: 100px;
    width: 100px;
    background-size: contain;
    @include bg-img;
  }

  #img-wave-bottom{
    height: 300px;
    min-width: 100%;
    position: relative;
    top: 100px;
    background-image: url("/img/wave-down.svg");
    background-size: cover;
    @include bg-img;
    z-index: -1;
  }

  .btn-on{
    background-color: $light;
    color: $dark;
    border: 1px solid  $light;
    cursor: pointer;
  }

  .btn-off{
    background-color:$dark;
    color: $light;
    border: 1px solid $dark;
    cursor: pointer;
  }

///////
  #image-main{
    min-width: 100%;
    min-height: 300px;
    background-image: url("/img/Logo.jpg");
    background-size: contain;
    @include bg-img;
  }

  .image-preview{
    min-width: 15%;
    min-height: 100px;
    background-image: url("/img/Logo.jpg");
    background-size: contain;
    @include bg-img;
  }